body{
	font-family: 'Varela Round', Lato, sans-serif;
	color: #2c3f55;
	overflow-x: hidden;/*побороли горизонтальний скрол коли випирала машина*/
		
}

.header__gamburger{
	font-family: Lato, sans-serif;
}

