
html, body{
    font-family: 'Varela Round', sans-serif;
    font-family: 'Lato', sans-serif;
}

html{
	font-size: 16px;
}

.container{
	position: relative;
}

.upper{
	text-transform: uppercase;
}

.bolder{
	font-weight: 900;
}	

.Lato300{
	font-weight: 300;
}

.Lato400{
	font-weight: 400;
}

.Lato700{
	font-weight: 700;
}

.Varela{
	font-weight: normal;
}

.header__gamburger{
	font-size: 1.000rem;	
}



